<div id="Bckg">
<div id="Slider" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#Slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#Slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#Slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2Fyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" width="800" height="550" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>Chevrolet Camaro 2021</h5>
          <p>Alquile este auto para sus eventos formales, d&eacute; la mejor primera impresion.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://drivevinty.com/content/uploads/dune-buggy-1967-8021b1f6ef-800x600.jpeg" width="800" height="550" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>Buggy del desierto</h5>
          <p>Un buen veh&iacute;culo para experiencias inolvidables.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/originals/81/b9/e8/81b9e8d0a713c3b7321fe32b716d4268.jpg" width="800" height="550" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>Casspir Mk6</h5>
          <p>Que ning&uacute;n barrio te de miedo, nadie se atrever&aacute;	a asaltarte.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#Slider" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#Slider" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="card">
  <div class="row g-0">
    <div class="col-5 col-sm-4">
      <img src="https://image.freepik.com/foto-gratis/empresario-brazos-cruzados-mirando-camara_23-2148308565.jpg" class="img-fluid w-100" alt="card-horizontal-image">
    </div>
    <div class="col-7 col-sm-8">
      <div class="card-body">
        <h5 class="card-title"><strong>Eligenos y no te arrepentiras</strong></h5>
        <p class="card-text">Somos numero 1 en el mercado latinoamericano, <br>
           recomendado por todos los mecanicos del pais y <br>
        tambien alquilamos vehiculos en excelentes condiciones.</p>
        <p class="card-text"><small class="text-muted">
          Los vehiculos entre alquileres cuentan con una inspeccion <br>
          de seguridad y de limpieza que dejaran los vehiculos como nuevos.</small></p>
      </div>
    </div>
  </div>
</div>
</div>
