// Place all the styles related to the firstlook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#Slider {
  margin: 0 auto;
  width: 1000px;
  height: 550px;

}

#Bckg {
  margin-left: -10%;
  background: black;
  width: 120%;
  height: 550px;
}
